{% extends 'main/layout.html' %}

{% block title %}
<title> Про село - Погірці </title>
{% endblock %}

{% block second %}
<meta property="og:title" content="Про село - Погірці">
{% endblock %}

{% block third %}
<meta name="twitter:title" content="Про село - Погірці">
{% endblock %}

{% block forth %}
<meta property="og:title" content="Про село - Погірці">
{% endblock %}

{% block five %}
<meta name="twitter:title" content="Про село - Погірці">
{% endblock %}

{% block six %}
<title>Про село - Погірці</title>
{% endblock %}

{% block maintext %}
<div class="md-text-container md_text_style-6083d74ac916e  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
<div class="md-text gizmo-container">
    <div id="text title" class="md-text-title inline-editor-title "><div>Про село Погірці</div></div>
    <div class="md-text-content inline-editor  without-content"><p></p></div>
</div>
{% endblock %}

{% block textcontainer %}
 <div class="md-text-container md_text_style-6083d74ac960c  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title "></div>
        <div class="md-text-content inline-editor "><p style="text-align: justify;" data-mce-style="text-align: justify;"> Погірці - стрімко розвиваюче село в Україні, в Самбірському районі Львівської області. Населення приблизно налічує  1634 особи (у 1977 році населення налічувало 2113 осіб). Село розташоване за 11 км на схід від Рудок. В селі діє садок "Журавлик", школа, вище професійне училище.
            Духовно збагачує село греко-католицька, православна церкви і костел. З трьох сторін в'їзду в село діють каплички, одна з яких має джерело. З продуктових магазинів, які є в селі - це мінімаркет в центрі, а також 4-5 магазинів, які розкинуті по всьому селі. В селі діє ресторан-кафе "Катерина", у якому можна відзначати важливі події. Часто на головному стадіоні села, який знаходиться в центрі, проводить змагання ФК "Сокіл".
            На південь від села протікає річка Дністер, де місцеві жителі часто проводять вихідні. Навколо села є 3-4 діючих озерця, де жителі села розводять рибу.
        </p></div>
    </div>
</div>
{% endblock %}

{% block rightdiv %}
<div class="md-text-container md_text_style-6083d74ac9ccd  md-align-right wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title ">
            <div> Вигідно вирізняє Погірці серед інших великих сіл Самбірщини сучасна двоповерхова споруда Амбулаторії сімейної медицини.</div></div>
        <div class="md-text-content inline-editor  without-content"><p></p></div>
    </div>
</div>
{% endblock %}

{% block image %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src='https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg'></a></div>
    <ul id="menu-menu-1" class="menu">
        <li id="menu-item-mobile329" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-302 current_page_item">
            <a href="http://www.pohirtsi.space">
                <span class="menu-separator-block"></span>
                <span class="menu-title md-text-mode">
                    <span class="title">Про нас</span>
                </span><span class="menu-separator"></span></a></li></ul></nav></ul></nav></div></header></div></div>
<ul class="dropdown simple "></ul>
{% endblock %}

{% block newsameimage %}
<div id="content" class="content " style="padding: 0% ;">
    <div class="color-overlay color-type"></div>
    <div id="post-302" class="content-container post-302 page type-page status-publish hentry">
        <div id="rowCustom-6083d74ac7ac1" class="vc_row wpb_row mBuilder-element  controls-in  row-equal-column-height sectionOverlay vc_general vc_parallax vc_parallax-552
        full_size" data-vc-parallax-image="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"
             data-mbuilder-id="1" data-col-layout="12/12">
{% endblock %}

{% block backgroundimage %}
<style scoped="">
    /* Do this code for each id */
    #rowCustom-6083d74ac7ac1 .row-image-normal
    {
        background-image: url(https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg );
    }
    /* Set background image */
    #rowCustom-6083d74ac7ac1 .row-image { background-position: center center;}
    /* set Image Size */
</style>
{% endblock %}

{% block logo %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"></a></div>
{% endblock %}
