{% extends 'main/layout.html' %}

{% block title %}
<title> Історія - Погірці </title>
{% endblock %}

{% block second %}
<meta property="og:title" content="Історія - Погірці">
{% endblock %}

{% block third %}
<meta name="twitter:title" content="Історія - Погірці">
{% endblock %}

{% block forth %}
<meta property="og:title" content="Історія - Погірці">
{% endblock %}

{% block five %}
<meta name="twitter:title" content="Історія - Погірці">
{% endblock %}

{% block six %}
<title>Історія - Погірці</title>
{% endblock %}

{% block maintext %}
<div class="md-text-container md_text_style-6083d74ac916e  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
<div class="md-text gizmo-container">
    <div id="text title" class="md-text-title inline-editor-title "><div>Історія села</div></div>
    <div class="md-text-content inline-editor  without-content"><p></p></div>
</div>
{% endblock %}

{% block textcontainer %}
     <div class="md-text-container md_text_style-6083d74ac960c  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
        <div class="md-text gizmo-container">
            <div class="md-text-title inline-editor-title "></div>
            <div class="md-text-content inline-editor "><p style="text-align: justify;" data-mce-style="text-align: justify;">Найдавніші дані про існування села відносяться до правління князя Лева Даниловича, який надав його у "дідиче і спадкове володіння" Іванкові Чапличу, підтверджене, згодом, королем Володиславом ІІ.

                Перша датована письмова згадка (згадується в архівних документах) про Погірці відноситься до 1357 року. Через село у той час проходив «соляний» шлях з Дрогобича до Львова. Під час визвольної війни українського народу 1648—1654 рр. в Погірцях спалахнуло селянське повстання. Повстанці зруйнували панський маєток і приєдналися до козацьких загонів Б. Хмельницького.

                З архівних матеріалів дізнаємося, що з 1900 року у Погірцях діяла читальня «Просвіти», її члени сплачували внески у сумі 2 корони. Активісти «Просвіти» чинили спротив ополяченню населення, підтримували в людях національну самосвідомість.

                У серпні — грудні 1906 року в Конюшках-Королівських відбувся страйк сільськогосподарських робітників фільварку за підвищення заробітної плати. Австрійськиї уряд нещадно придушив виступ. На території Погірцівського агротехнічного ліцею був фільварок графині Тернавської, яка жила тут до 1939 року. Цій родині належали сотні гектарів землі, лісу, сінокосів. Жителі Погірців наймалися до графині на роботу. Постійних працівників називали форналями. Їм платили поквартально: 12 центнерів зерна, двадцять центнерів картоплі, надавали 50 арів сінокосу… Інші робітники отримували зарплату по суботах. За день платили 70 грошів.

                1 липня 1926 р. з сільської гміни (громади) Погірці Рудківського повіту вилучено присілок Острів Погорецький і утворено самостійну сільську гміну Острів Новий. 1 серпня 1934 р. внаслідок адміністративної реформи 10 сільських громад були включені до об’єднаної сільської гміни Погірці. У 20-х роках 20 століття в Погірцях, Конюшках-Королівських і Конюшках-Тулиголовських були створені осередки КПЗУ, які мали значний вплив на організації «Сельроб» і «Просвіту». Під керівництвом комуністів у 1936 році в цих 3-х селах застрайкували селяни на фільварку поміщика Баля. Страйк переріс у збройну сутичку з поліцією, під час якої було вбито 7 і тяжко поранено 5 селян, 80 чоловік потрапило до в'язниці. Заворушення продовжувались і в наступному році. В донесеннях поліції говорилося, що у с. Новому Острові розповсюджувалися комуністичні листівки із закликом взяти участь у загальноселянському страйку.

                На 1.01.1939 в селі з 1990 жителів було 1050 українців-грекокатоликів, 890 українців-латинників, 20 поляків і 30 євреїв.

                Після встановлення Радянської влади було ліквідовано фільварок, панську землю і худобу роздано селянам. У 1940 році створено комсомольську організацію. 83 жителі села воювали з німцями у Червоній армії, близько 20 були в УПА. Партійна організація (створена в 1948 році) об'єднувала 30 членів КПРС, комсомольська (заснована в 1946 році) — 420 членів ВЛКСМ. За великі успіхи в праці 6 людей були нагороджені орденами і медалями СРСР, серед них орденом «Трудової Слави» 3-ї степені — шофер С. П. Васьків.

                В Погірцях знаходилась перша бригада колгоспу «Дружба», центральний офіс якого знаходився в Сусолові. За бригадою було закріплено 1800 га сільськогосподарських угідь. Бригада спеціалізувалась на розвитку м'ясо-молочної галузі, а також на виробництві цукрового буряка.

                У Погірцівській середній школі — один із найкращих в області краєзнавчих музеїв. Під керівництвом заступника директора школи з виховної роботи Марії Говдерчак вчителі й учні створили літопис села.</p></div>
        </div>
     </div>

{% endblock %}

{% block rightdiv %}
<div class="md-text-container md_text_style-6083d74ac9ccd  md-align-right wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title ">
            <div> В 1941 році розпочалася радянсько-німецька війна. На фронтах Великої Вітчизняної війни проти німецьких загарбників воювало 83 жителі села, 57 з них нагороджено за мужність орденами і медалями, 46 чоловік віддало життя за свободу. На згадку про них в 1978 році в селі побудовано пам’ятник.</div></div>
        <div class="md-text-content inline-editor  without-content"><p></p></div>
    </div>
</div>
{% endblock %}

{% block image %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src='https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg'></a></div>
    <ul id="menu-menu-1" class="menu">
        <li id="menu-item-mobile329" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-302 current_page_item">
            <a href="http://www.pohirtsi.space">
                <span class="menu-separator-block"></span>
                <span class="menu-title md-text-mode">
                    <span class="title">Історія</span>
                </span><span class="menu-separator"></span></a></li></ul></nav></ul></nav></div></header></div></div>
<ul class="dropdown simple "></ul>
{% endblock %}

{% block newsameimage %}
<div id="content" class="content " style="padding: 0% ;">
    <div class="color-overlay color-type"></div>
    <div id="post-302" class="content-container post-302 page type-page status-publish hentry">
        <div id="rowCustom-6083d74ac7ac1" class="vc_row wpb_row mBuilder-element  controls-in  row-equal-column-height sectionOverlay vc_general vc_parallax vc_parallax-552
        full_size" data-vc-parallax-image="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"
             data-mbuilder-id="1" data-col-layout="12/12">
{% endblock %}

{% block backgroundimage %}
<style scoped="">
    /* Do this code for each id */
    #rowCustom-6083d74ac7ac1 .row-image-normal
    {
        background-image: url(https://photo.foto-planeta.com/view/6/3/pogortsy-6322.jpg );
    }
    /* Set background image */
    #rowCustom-6083d74ac7ac1 .row-image { background-position: center center;}
    /* set Image Size */
</style>
{% endblock %}

{% block logo %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"></a></div>
{% endblock %}
