{% extends 'main/layout.html' %}

{% block title %}
<title> Новини - Погірці </title>
{% endblock %}

{% block second %}
<meta property="og:title" content="Новини - Погірці">
{% endblock %}

{% block third %}
<meta name="twitter:title" content="Новини - Погірці">
{% endblock %}

{% block forth %}
<meta property="og:title" content="Новини - Погірці">
{% endblock %}

{% block five %}
<meta name="twitter:title" content="Новини - Погірці">
{% endblock %}

{% block six %}
<title>Новини - Погірці</title>
{% endblock %}

{% block maintext %}
<div class="md-text-container md_text_style-6083d74ac916e  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
<div class="md-text gizmo-container">
    <div class="md-text-title inline-editor-title "><div>Новини</div></div>
    <div class="md-text-content inline-editor  without-content"><p></p></div>
</div>
{% endblock %}

{% block textcontainer %}
<div class="md-text-container md_text_style-6083d74ac960c  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text-content inline-editor">
        {% if news %}
            {% for n in news %}
            <div class="alert alert-warning">
                <a href="{{ n.text }}" target="_blank">{{ n.title }}, Дата: {{ n.date }}</a>
            </div>
            {% endfor %}
        {% else %}
            <p> Розклад руху транспорту: <a href="https://avtobys.in.ua/lvivska/rudky" target="_blank">avtobys.in.ua</a></p>
            <p> Продаж нерухомості: <a href="https://www.olx.ua/uk/nedvizhimost/pogortsy/" target="_blank">olx.ua</a></p>
            <p> Фотогалерея: <a href="https://foto-planeta.com/ua/np/24930/pogirtsi.html" target="_blank">foto-planeta.com</a></p>
            <p> Вікісторінка: <a href="https://uk.wikipedia.org/wiki/%D0%9F%D0%BE%D0%B3%D1%96%D1%80%D1%86%D1%96" target="_blank">uk.wikipedia.org</a></p>
            <p> Святкування Великодня у 2013 році: <a href="https://www.youtube.com/watch?v=QxrFsCFX76g" target="_blank">www.youtube.com</a></p>
        {% endif %}
            {# Можливість коментування #}
    </div>
</div>
{% endblock %}

{% block rightdiv %}
<div class="md-text-container md_text_style-6083d74ac9ccd  md-align-right wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title ">
            <div> Інші новини </div></div>
                    <p> Святкування Великодня у 2013 році: <a href="https://www.youtube.com/watch?v=QxrFsCFX76g" target="_blank">www.youtube.com</a></p>
        <div class="md-text-content inline-editor  without-content"><p></p></div>
    </div>
</div>
{% endblock %}

{% block image %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src='https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg'></a></div>
    <ul id="menu-menu-1" class="menu">
        <li id="menu-item-mobile329" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-302 current_page_item">
            <a href="http://www.pohirtsi.space">
                <span class="menu-separator-block"></span>
                <span class="menu-title md-text-mode">
                    <span class="title">Про нас</span>
                </span><span class="menu-separator"></span></a></li></ul></nav></ul></nav></div></header></div></div>
<ul class="dropdown simple "></ul>
{% endblock %}

{% block newsameimage %}
<div id="content" class="content " style="padding: 0% ;">
    <div class="color-overlay color-type"></div>
    <div id="post-302" class="content-container post-302 page type-page status-publish hentry">
        <div id="rowCustom-6083d74ac7ac1" class="vc_row wpb_row mBuilder-element  controls-in  row-equal-column-height sectionOverlay vc_general vc_parallax vc_parallax-552
        full_size" data-vc-parallax-image="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"
             data-mbuilder-id="1" data-col-layout="12/12">
{% endblock %}

{% block backgroundimage %}
<style scoped="">
    /* Do this code for each id */
    #rowCustom-6083d74ac7ac1 .row-image-normal
    {
        background-image: url(https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg );
    }
    /* Set background image */
    #rowCustom-6083d74ac7ac1 .row-image { background-position: center center;}
    /* set Image Size */
</style>
{% endblock %}

{% block logo %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"></a></div>
{% endblock %}
