{% extends 'main/layout.html' %}

{% block title %}
<title> Ресторан - Погірці </title>
{% endblock %}

{% block second %}
<meta property="og:title" content="Ресторан - Погірці">
{% endblock %}

{% block third %}
<meta name="twitter:title" content="Ресторан - Погірці">
{% endblock %}

{% block forth %}
<meta property="og:title" content="Ресторан - Погірці">
{% endblock %}

{% block five %}
<meta name="twitter:title" content="Ресторан - Погірці">
{% endblock %}

{% block six %}
<title>Ресторан - Погірці</title>
{% endblock %}

{% block maintext %}
<div class="md-text-container md_text_style-6083d74ac916e  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
<div class="md-text gizmo-container">
    <div id="text title" class="md-text-title inline-editor-title "><div>Ресторан</div></div>
    <div class="md-text-content inline-editor  without-content"><p></p></div>
</div>
{% endblock %}

{% block textcontainer %}
 <div class="md-text-container md_text_style-6083d74ac960c  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title "></div>
        <div class="md-text-content inline-editor "><p style="text-align: justify;" data-mce-style="text-align: justify;"> Ресторан-кафе «Катерина» забезпечить смачним cніданком, обідом і вечерею усіх бажаючих гостей. Зал закладу розрахований на 200 персон, має 2 просторих зали і відмінно підходить для проведення урочистих заходів: весіль, фуршетів, банкетів та корпоративів.
                У меню представлено безліч популярних страв української національної кухні. Є можливість замовити свіже м'ясо або ціле порося з місцевих ферм.
                Також часто у ресторані проводять випускні вечори, танці, празники, святкують новий рік, день народження та дівич-вечори. У вільний час можна відвідати сауну, замовити кальян.
        </p></div>
    </div>
</div>
{% endblock %}

{% block rightdiv %}
<div class="md-text-container md_text_style-6083d74ac9ccd  md-align-right wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title ">
            <div> <br>Контакти:<br>Повна назва: Ресторан-кафе "Катерина"<br>Адреса: вулиця Центральна, Погірці, Львівська область, 81445<br>Телефон: 068 649 4038<br>Instagram: <a href="https://www.instagram.com/restoran_kafe_kateryna/?hl=uk">https://www.instagram.com/restoran_kafe_kateryna/?hl=uk<br>Facebook: <a href="https://www.facebook.com/groups/316324898964196">https://www.facebook.com/groups/316324898964196</div></div>
        <div class="md-text-content inline-editor  without-content"><p></p></div>
    </div>
</div>
{% endblock %}

{% block image %}
<div id="logo image" class="logo"><a href="http://www.pohirtsi.space/"><img src='https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg'></a></div>
    <ul id="menu-menu-1" class="menu">
        <li id="menu-item-mobile329" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-302 current_page_item">
            <a href="http://www.pohirtsi.space">
                <span class="menu-separator-block"></span>
                <span class="menu-title md-text-mode">
                    <span class="title">Про нас</span>
                </span><span class="menu-separator"></span></a></li></ul></nav></ul></nav></div></header></div></div>
<ul class="dropdown simple "></ul>
{% endblock %}

{% block newsameimage %}
<div id="content" class="content " style="padding: 0% ;">
    <div class="color-overlay color-type"></div>
    <div id="post-302" class="content-container post-302 page type-page status-publish hentry">
        <div id="rowCustom-6083d74ac7ac1" class="vc_row wpb_row mBuilder-element  controls-in  row-equal-column-height sectionOverlay vc_general vc_parallax vc_parallax-552
        full_size" data-vc-parallax-image="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"
             data-mbuilder-id="1" data-col-layout="12/12">
{% endblock %}

{% block backgroundimage %}
<style scoped="">
    /* Do this code for each id */
    #rowCustom-6083d74ac7ac1 .row-image-normal
    {
        background-image: url(https://photo.foto-planeta.com/view/1/1/0/9/1/pogortsy-1109107.jpg );
    }
    /* Set background image */
    #rowCustom-6083d74ac7ac1 .row-image { background-position: center center;}
    /* set Image Size */
</style>
{% endblock %}

{% block logo %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"></a></div>
{% endblock %}
