{% extends 'main/layout.html' %}

{% block title %}
<title> Школа - Погірці </title>
{% endblock %}

{% block second %}
<meta property="og:title" content="Школа - Погірці">
{% endblock %}

{% block third %}
<meta name="twitter:title" content="Школа - Погірці">
{% endblock %}

{% block forth %}
<meta property="og:title" content="Школа - Погірці">
{% endblock %}

{% block five %}
<meta name="twitter:title" content="Школа - Погірці">
{% endblock %}

{% block six %}
<title>Школа - Погірці</title>
{% endblock %}

{% block maintext %}
<div class="md-text-container md_text_style-6083d74ac916e  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
<div class="md-text gizmo-container">
    <div id="text title" class="md-text-title inline-editor-title "><div>Школа</div></div>
    <div class="md-text-content inline-editor  without-content"><p></p></div>
</div>
{% endblock %}

{% block textcontainer %}
 <div class="md-text-container md_text_style-6083d74ac960c  md-align-left wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title "></div>
        <div class="md-text-content inline-editor "><p style="text-align: justify;" data-mce-style="text-align: justify;"> У селі є середня школа, яка територіально розміщена у самому центрі. На території є футбольне поле, майданчики для фізичного виховання, столова і бібліотека. Також у закладі освіти створений музей визвольних змагань за ініціативи адміністрації навчального закладу та активу однодумців, педагогів, учнів і батьків.
                В експозицію музею входять такі розділи: «Визвольна боротьба УПА», «Історія села Погірці», «Предмети побуту», «Нумізматична колекція», «Вишивані рушники». В музеї зібрано велику кількість архівних документів, оригінальних фотографій та матеріалів преси, що висвітлюють події національно-визвольної боротьби українського народу. До найцінніших експонатів належать: спогади та фотографії учасників визвольних змагань.
                На базі музею відбуваються зустрічі з учасниками визвольних змагань, засідання клубу «Сучасник», проводяться уроки Пам’яті, виховні заходи, ведеться науково-пошукова робота під девізом «Сторінки історії краю». Навчання проводиться з урахуванням того що, у селі також знаходиться ліцей, до якого учні можуть переходити на 9 −11 клас. <br>Історія винекнення школи:<br>У 1878 році діти навчалися в одному класі, їх навчав лише один вчитель. Господар Соруфка дав свою хату для проведення уроків.
                В 1900 році в селі було вже спеціальне приміщення для школи. Навчання велося польською мовою. В 1905 році почали будувати нову школу.
                В роки Першої світової війни вона була зруйнована. Закінчилось будівництво школи 1922 році. Там діти навчались в 4-х класах.
                Сьогодні приміщення школи перетворено на будинок для вчителів. В селі була хата читальня, яку побудував житель села Франко Косікевич. Війтом села в той час був Рудкевич Стах.
        </p></div>
    </div>
</div>
{% endblock %}

{% block rightdiv %}
<div class="md-text-container md_text_style-6083d74ac9ccd  md-align-right wpb_wrapper wpb_md_text_wrapper ui-md_text">
    <div class="md-text gizmo-container">
        <div class="md-text-title inline-editor-title ">
            <div> <br>Контакти:<br>Повна назва: Погірцівська середня загальноосвітня школа І-ІІІ ступенів <br>відділу освіти молоді та спорту Рудківської <br>міської ради Самбірського району Львівської області.<br>Адреса: Україна, Львівська область, Самбірський район, с.Погірці, Сонячна, 1<br>Телефон: 03236 046682<br>E-mail: pohirci@ukr.net<br>Сайт: <a href="http://pohirci-school.org/">http://pohirci-school.org/<br>Facebook сторінка футбольного клубу: <a href="https://www.facebook.com/groups/2483422255225070">https://www.facebook.com/groups/2483422255225070</div></div>
        <div class="md-text-content inline-editor  without-content"><p></p></div>
    </div>
</div>
{% endblock %}

{% block image %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img id="logo image" src='https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg'></a></div>
    <ul id="menu-menu-1" class="menu">
        <li id="menu-item-mobile329" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-302 current_page_item">
            <a href="http://www.pohirtsi.space">
                <span class="menu-separator-block"></span>
                <span class="menu-title md-text-mode">
                    <span class="title">Про нас</span>
                </span><span class="menu-separator"></span></a></li></ul></nav></ul></nav></div></header></div></div>
<ul class="dropdown simple "></ul>
{% endblock %}

{% block newsameimage %}
<div id="content" class="content " style="padding: 0% ;">
    <div class="color-overlay color-type"></div>
    <div id="post-302" class="content-container post-302 page type-page status-publish hentry">
        <div id="main image 1" class="vc_row wpb_row mBuilder-element  controls-in  row-equal-column-height sectionOverlay vc_general vc_parallax vc_parallax-552
        full_size" data-vc-parallax-image="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"
             data-mbuilder-id="1" data-col-layout="12/12">
{% endblock %}

{% block backgroundimage %}
<style scoped="">
    /* Do this code for each id */
    #rowCustom-6083d74ac7ac1 .row-image-normal
    {
        background-image: url(http://pohirci-school.org/wp-content/uploads/2020/06/irjkf-scaled.jpg );
    }
    /* Set background image */
    #rowCustom-6083d74ac7ac1 .row-image { background-position: center center;}
    /* set Image Size */
</style>
{% endblock %}

{% block logo %}
<div class="logo"><a href="http://www.pohirtsi.space/"><img src="https://photo.foto-planeta.com/view/7/7/9/6/pogortsy-779640.jpg"></a></div>
{% endblock %}
